@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Declaring custom CSS variables */
:root {
  --primary: #0a2535;
}

/* Declaring Tailwind theme variables */
@theme {
  --color-primary: #0a2535;
}

.form-label{
    @apply py-2 px-4 rounded-4xl bg-blue-100 inline-block my-1 mr-2 dark:text-slate-800;
}

[name=services]{
    display: none;
}

[name=services]:checked ~ .form-label{
    @apply bg-primary text-white dark:bg-black dark:border dark:border-white;
}

[name=budget]{
    display: none;
}

[name=budget]:checked ~ .form-label{
    @apply bg-primary text-white dark:bg-black dark:border dark:border-white;
}